// adaptive content block for image based layouts

.adaptive-content {
	padding: $gutter-small $gutter-big 0;

	h1 {
		+ .feature-description {
			padding-bottom: $gutter-big;
			border-bottom: $border-width-thin solid $color-grey;
		}
	}

	h2 {
		padding-top: $gutter-big;
		color: $color-dark-gray;

		+ .feature-description {
			padding-bottom: $gutter-big;
			font-size: $font-size-small;
		}
	}

	article {
		padding-bottom: $gutter-big;
	}

	img {
		@include stretch-image();
	}
}

// Tablet...
@media screen and (min-width: $breakpoint-mobile) {
	.adaptive-content {
		// Need this for the 33:33:33 layout
		// I don't use $gutter-small intentionally because in the future it could be
		// anything other than the half of $gutter-default
		// Also it can go to _grids.css in the future if anything other will use it
		.row-gutter {
			margin-left: -($gutter-default / 2);
			margin-right: -($gutter-default / 2);
		}

		// 50:50 layout
		.large-6 {
			.image-container {
				max-height: $map-height;
				overflow: hidden;
			}

			&:first-of-type {
				.image-container {
					margin-right: $gutter-small;
					margin-bottom: $gutter-default;
				}
			}

			&:last-of-type {
				.image-container {
					margin-bottom: $gutter-default;
					margin-left: $gutter-small;
				}
			}
		}

		// 33:33:33 layout
		.large-4 {
			.image-container {
				margin-right: $gutter-small;
				margin-bottom: $gutter-default;
				margin-left: $gutter-small;
			}

			.image-container-small {
				margin-right: 0;
				margin-left: $gutter-default;
				margin-bottom: $gutter-default;
			}
		}
	}
}

// Phone
@media screen and (max-width: $breakpoint-mobile-only) {
	.adaptive-content {
		padding-right: $gutter-small;
		padding-left: $gutter-small;

		h2 {
			padding-top: $gutter-small;
			font-size: $font-size-big;

			+ .feature-description {
				font-size: $font-size-xsmall;
			}
		}

		article {
			&:last-of-type {
				padding-bottom: 0;
			}
		}

		.image-container {
			margin: 0 0 $gutter-small 0;
		}
	}
}
